# PDF processing
PyMuPDF
pdfplumber
pdf2image

# OCR & image handling
pytesseract
Pillow

# Data processing
pandas
tabulate

# AI / embeddings
sentence-transformers
torch

# Flask web server & ngrok
Flask
pyngrok

# Utilities
python-dotenv

# Optional: Gemini API
google-generativeai


pyngrok
fastapi
uvicorn
